.card__navigation-like_dark {
  min-width: 22px;
  min-height: 19px;

  background-image: url(../../../images/card__like_dark.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  
  margin: 0;
}